body{
	font-family: verdana, arial, sans-serif;
	background-color:#e6e6e6;
}

a{
	background-color:#f00;
	color:#fff;
}

p{
	font-style:italic;
}

h1{
	color:#00f;
}

.titulo_principal{
	color:#f00;
}

#tabela, table tr td{
	border:1px #000 solid;
}

ul li{
	list-style-type:none;
}

#div {
	width:300px;
	height:300px;
	background-image:url(../images/food.png);
	float:left;
}

#div_2 {
	width:300px;
	height:300px;
	background-color:#f00;
	float:left;
	margin-left:20px;
	margin-right:20px;
}

#div_3 {
	width:300px;
	height:300px;
	background-color:#0f0;
	float:left;
}

#div p{
	text-transform:uppercase;
	font-size:30px;
	text-align:center;
	font-weight:bold;
	background-color:rgba(255,255,0,.4);
	position:relative;
	top:300px;
	padding:5px;
}

footer{
	clear:both;
}